
*{
    margin: 0%;
    padding: 0%;
}

.head{
    background-color: #E5D8D8;
    padding: 0%;
    margin:0%;
}
.head ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.head li{
    background-color: #8E8F58;
    border-radius: 30%;
}

#title{
    background-color:#E5D8D8;
    color: #563232;
}

#title h1{
    padding: 0%;
    margin:0%;
    font-size: 200%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

#main_image{
    object-fit:fill;
    width: 100%;
    height: 70vh;
}

.footer_section{
    background-color: #C9C0C0;
    position: fixed;
    align-items: center;
    bottom: 0%;
    width: 100%;
    height: 3%;
}

.footer_section ul{
    position: relative;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    top: 25%;
    margin: 0% 5% 0% 5%;
}

.footer_section ul li{
    background-color: #8E8F58;
    border-radius: 30%;
}

footer{
    margin: 0%;
    padding:0%;
}

.cont_images{ 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 26.3%;
    padding: 0%;
    margin: 0%;
}

.new_image{
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.image_product{
    display: flex;
    justify-content: center;
    margin:0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.image_product h3{
    font-size: 30px;
    position: absolute;
    color: white; 
    top: 50%;
}

.main_tittle{
    background-color: green;
    color: white;
}

.main_tittle h1{
    position: absolute;
    left: 30%;
    top: 48vh;
    font-size: 5vh;
    width: 60%;
}
.main_tittle h2{
    position: absolute;
    left: 25%;
    top: 58vh;
    width: 60%;
    font-size: 4vh;
}
